# this file contains settings for thumbails
# category image_name output_path text1_x text1_y text1_font_size text2_x text2_y text2_font_size ...etc (can put more text font sizes)
# to make dynamic example:
# lua $image $output_path|& 200 300 $fs $x|500 $y $fs
# $name is how to create a dynamic input value
# use & to say "use default" 
# the "|" is an or sign, so either input by user or use the value provided
# fs (font_size) will be applied to both font sizes since they share the same dynamic input
# input dynamic data: python main.py --lua --image:lua.jpg --fs:16 --x:200 --y:100
# above explained: python main.py --selected_project --selected_image --font_size --x_pos --y_pos
# note: only image extensions supported are: jpg, png
# defaults:
# output_path -> thumbails/image_name.image_extension (will not overwrite existing images, will add (number) after name)
# x1, x2, y1, y2 -> 0
# font_size: 16
# NOTE: images will be searched for in the base-thumbails/ folder
# NOTE: No spaces allowed in project default!

python --image:python.jpg --output:& --text:VeryCool --x:200 --y:500 --fs:16